{{ header }} {% set col = column_left ? 9 : 12 %} {% set col = column_right ? col - 3 : col %} 
<div class="alerts">
{% if (error_warning) %} 
	<div class="alert alert--red">
		<span class="alert__text">
			{{ error_warning }} 
		</span>
		<a href="#" class="alert__close">x</a>
	</div>
{% endif %} 
</div>
<main class="content">
	<div class="container">
	{{ content_top }} 
		<div class="breadcrumbs breadcrumbs--sm-pad {{ col < 12 ? '' : 'breadcrumbs--center'}}">
			<ul class="breadcrumb__list">
			{% for i,breadcrumb in breadcrumbs %} 
			{% if (i == 0) %} 
				<li class="breadcrumb__list-item"><a href="{{ breadcrumb['href'] }}"><span>{{ breadcrumb['text'] }}</span></a></li>
			{% elseif (i + 1 < (breadcrumbs)|length) %}
				<li class="breadcrumb__list-item"><svg class="icon-chevron-right"><use xlink:href="#chevron-small-left"></use></svg><a href="{{ breadcrumb['href'] }}"><span>{{ breadcrumb['text'] }}</span></a></li>		
			{% else %} 
				<li class="breadcrumb__list-item"><svg class="icon-chevron-right"><use xlink:href="#chevron-small-left"></use></svg><span>{{ breadcrumb['text'] }}</span></li>		
			{% endif %} 
			{% endfor %} 			
			</ul>
		</div>
	<h2 class="content__title {{ col < 12 ? '' : 'content__title--center'}}">{{ heading_title }}</h2>
	<div class="row">
		{{ column_left ? '<div class="col-sm-3">' ~ column_left ~ '</div>' : ''}}
		<div class="{{ col < 12 ? 'col-sm-' ~ col : 'col-sm-10 col-sm-offset-1' }}">
			<div id="sidebar-mob-btn"></div>
			<form action="{{ action }}" method="post" enctype="multipart/form-data">
			<div class="form-box">
			<div class="checkout">
				<h3 class="checkout__h3">{{ text_my_affiliate }}</h3>
				<div class="checkout__input-row">
					<div class="checkout__input-box form-group">
						<span class="checkout__input-box-title">{{ entry_company }}</span>
						<input type="text" name="company" value="{{ company }}" placeholder="{{ entry_company }}" id="input-company">
					</div>
					<div class="checkout__input-box form-group">
						<span class="checkout__input-box-title">{{ entry_website }}</span>
						<input type="text" name="website" value="{{ website }}" placeholder="{{ entry_website }}" id="input-website">
					</div>
				</div>
				<h3 class="checkout__h3">{{ text_payment }}</h3>
				<div class="checkout__input-row">
					<div class="checkout__input-box form-group">
						<span class="checkout__input-box-title">{{ entry_tax }}</span>
						<input type="text" name="tax" value="{{ tax }}" placeholder="{{ entry_tax }}" id="input-tax">
					</div>				
					<div class="checkout__radio-box form-group">
						<span class="checkout__input-box-title">{{ entry_payment }}</span>
						<div class="checkout__radio-item">
							<input name="payment" id="payment-1" type="radio" value="cheque" {{ payment == 'cheque' ? 'checked="checked"' : ''}}>
							<label for="payment-1">{{ text_cheque }}</label>
						</div>	
						<div class="checkout__radio-item">
							<input name="payment" id="payment-2" type="radio" value="paypal" {{ payment == 'paypal' ? 'checked="checked"' : ''}}>
							<label for="payment-2">{{ text_paypal }}</label>
						</div>	
						<div class="checkout__radio-item">
							<input name="payment" id="payment-3" type="radio" value="bank" {{ payment == 'bank' ? 'checked="checked"' : ''}}>
							<label for="payment-3">{{ text_bank }}</label>
						</div>						
					</div>					
				</div>					
				<div class="checkout__input-row payment" id="payment-cheque">		
					<div class="checkout__input-box form-group">
						<span class="checkout__input-box-title">{{ entry_cheque }}</span>
						<input type="text" name="cheque" value="{{ cheque }}" placeholder="{{ entry_cheque }}" id="input-cheque" class="{{ error_cheque  ? 'error' : ''}}">
						{% if error_cheque %}
						<div class="checkout__input-box-error">{{ error_cheque }}</div>
						{% endif %} 
					</div>	
				</div>				
				<div class="checkout__input-row payment" id="payment-paypal">		
					<div class="checkout__input-box form-group">
						<span class="checkout__input-box-title">{{ entry_paypal }}</span>
						<input type="text" name="paypal" value="{{ paypal }}" placeholder="{{ entry_paypal }}" id="input-paypal" class="{{ error_paypal ? 'error' : ''}}">
						{% if error_paypal %}
						<div class="checkout__input-box-error">{{ error_paypal }}</div>
						{% endif %} 
					</div>	
				</div>
				<div class="checkout__input-row payment" id="payment-bank">		
					<div class="checkout__input-box form-group">
						<span class="checkout__input-box-title">{{ entry_bank_name }}</span>
						<input type="text" name="bank_name" value="{{ bank_name }}" placeholder="{{ entry_bank_name }}" id="input-bank_name">
					</div>		
					<div class="checkout__input-box form-group">
						<span class="checkout__input-box-title">{{ entry_bank_branch_number }}</span>
						<input type="text" name="bank_branch_number" value="{{ bank_branch_number }}" placeholder="{{ entry_bank_branch_number }}" id="input-bank_branch_number">
					</div>		
					<div class="checkout__input-box form-group">
						<span class="checkout__input-box-title">{{ entry_bank_swift_code }}</span>
						<input type="text" name="bank_swift_code" value="{{ bank_swift_code }}" placeholder="{{ entry_bank_swift_code }}" id="input-bank_swift_code">
					</div>			
					<div class="checkout__input-box form-group">
						<span class="checkout__input-box-title">{{ entry_bank_account_name }}</span>
						<input type="text" name="bank_account_name" value="{{ bank_account_name }}" placeholder="{{ entry_bank_account_name }}" id="input-bank_account_name" class="{{ error_bank_account_name ? 'error' : ''}}">
						{% if error_bank_account_name %}
						<div class="checkout__input-box-error">{{ error_bank_account_name }}</div>
						{% endif %} 
					</div>			
					<div class="checkout__input-box form-group">
						<span class="checkout__input-box-title">{{ entry_bank_account_number }}</span>
						<input type="text" name="bank_account_number" value="{{ bank_account_number }}" placeholder="{{ entry_bank_account_number }}" id="input-bank_account_number" class="{{ error_bank_account_number ? 'error' : ''}}">
						{% if error_bank_account_number %}
						<div class="checkout__input-box-error">{{ error_bank_account_number }}</div>
						{% endif %} 
					</div>	
				</div>
				
					{% for custom_field in custom_fields %} 
					{% if (custom_field['location'] == 'affiliate') %} 
					{% if (custom_field['type'] == 'select') %} 
					<div class="checkout__input-box form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
						<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }}">{{ custom_field['name'] }}</span>
						<div class="select">
						<select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="select--squer select select-checkout" data-placeholder="{{ text_select }}">
							<option value="">{{ text_select }}</option>
							{% for custom_field_value in custom_field['custom_field_value'] %} 
							{% if (account_custom_field[custom_field['custom_field_id']] is defined and custom_field_value['custom_field_value_id'] == account_custom_field[custom_field['custom_field_id']]) %} 
							<option value="{{ custom_field_value['custom_field_value_id'] }}" selected="selected">{{ custom_field_value['name'] }}</option>
							{% else %} 
							<option value="{{ custom_field_value['custom_field_value_id'] }}">{{ custom_field_value['name'] }}</option>
							{% endif %} 
							{% endfor %}						
						</select>
						</div>
						{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
						<div class="checkout__input-box-error">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
						{% endif %} 
					</div>					
					{% endif %} 
					{% if (custom_field['type'] == 'radio') %} 
						<div class="checkout__radio-box form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
							<span class="checkout__input-box-title {{ custom_field['required'] ? 'required' : '' }}">{{ custom_field['name'] }}</span>
								{% for custom_field_value in custom_field['custom_field_value'] %} 
									{% if (account_custom_field[custom_field['custom_field_id']] is defined and custom_field_value['custom_field_value_id'] == account_custom_field[custom_field['custom_field_id']]) %} 
									<div class="checkout__radio-item">
										<input name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]-{{ custom_field_value['custom_field_value_id'] }}" type="radio" value="{{ custom_field_value['custom_field_value_id'] }}" checked="checked">
										<label for="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]-{{ custom_field_value['custom_field_value_id'] }}">{{ custom_field_value['name'] }}</label>
									</div>
									{% else %} 
									<div class="checkout__radio-item">
										<input name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]-{{ custom_field_value['custom_field_value_id'] }}" type="radio" value="{{ custom_field_value['custom_field_value_id'] }}">
										<label for="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]-{{ custom_field_value['custom_field_value_id'] }}">{{ custom_field_value['name'] }}</label>
									</div>								
									{% endif %} 
								{% endfor %} 
						{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
						<div class="checkout__input-box-error">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
						{% endif %}							
						</div>					
					{% endif %} 
					{% if (custom_field['type'] == 'checkbox') %} 
						<div class="checkout__checkbox-box form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
							<span class="checkout__input-box-title {{ custom_field['required'] ? 'required' : '' }}">{{ custom_field['name'] }}</span>
								{% for custom_field_value in custom_field['custom_field_value'] %} 
									{% if (account_custom_field[custom_field['custom_field_id']] is defined and custom_field_value['custom_field_value_id'] == account_custom_field[custom_field['custom_field_id']]) %} 
									<div class="checkout__checkbox-item">
										<input name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" id="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]-{{ custom_field_value['custom_field_value_id'] }}" type="checkbox" value="{{ custom_field_value['custom_field_value_id'] }}" checked="checked">
										<label for="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]-{{ custom_field_value['custom_field_value_id'] }}">{{ custom_field_value['name'] }}</label>
									</div>
									{% else %} 
									<div class="checkout__checkbox-item">
										<input name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" id="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]-{{ custom_field_value['custom_field_value_id'] }}" type="checkbox" value="{{ custom_field_value['custom_field_value_id'] }}">
										<label for="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]-{{ custom_field_value['custom_field_value_id'] }}">{{ custom_field_value['name'] }}</label>
									</div>								
									{% endif %} 
								{% endfor %} 
						{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
						<div class="checkout__input-box-error">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
						{% endif %}								
						</div>					
					{% endif %} 
					{% if (custom_field['type'] == 'text') %} 
					<div class="checkout__input-box form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
						<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }}">{{ custom_field['name'] }}</span>
						<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ account_custom_field[custom_field['custom_field_id']] is defined ? account_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" placeholder="{{ custom_field['name'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class=" {{ error_custom_field[custom_field['custom_field_id']] is defined ? 'error' : ''}}">
						{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
						<div class="checkout__input-box-error">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
						{% endif %} 
					</div>					
					{% endif %} 
					{% if (custom_field['type'] == 'textarea') %} 
					<div class="checkout__textarea-box form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
						<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }}">{{ custom_field['name'] }}</span>
						<textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" placeholder="{{ custom_field['name'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class=" {{ error_custom_field[custom_field['custom_field_id']] is defined ? 'error' : ''}}">{{ account_custom_field[custom_field['custom_field_id']] is defined ? account_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}</textarea>
						{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
						<div class="checkout__input-box-error">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
						{% endif %} 
					</div>					
					{% endif %} 
					{% if (custom_field['type'] == 'file') %} 
					<div class="checkout__file-box form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
						<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }}">{{ custom_field['name'] }}</span>
						
						<button type="button" id="button-custom-field{{ custom_field['custom_field_id'] }}" data-loading-text="{{ text_loading }}" class="btn">{{ button_upload }}</button>
						<input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ account_custom_field[custom_field['custom_field_id']] is defined ? account_custom_field[custom_field['custom_field_id']] : '' }}" />
						

						{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
						<div class="checkout__input-box-error">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
						{% endif %} 
					</div>					
					{% endif %} 
					{% if (custom_field['type'] == 'date') %} 
					<div class="checkout__input-box form-group custom-field " data-sort="{{ custom_field['sort_order'] }}">
						<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }}">{{ custom_field['name'] }}</span>
						<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ account_custom_field[custom_field['custom_field_id']] is defined ? account_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" data-date-format="YYYY-MM-DD" placeholder="{{ custom_field['name'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="date  {{ error_custom_field[custom_field['custom_field_id']] is defined ? 'error' : ''}}">
						{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
						<div class="checkout__input-box-error">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
						{% endif %} 
					</div>					
					{% endif %} 
					{% if (custom_field['type'] == 'time') %} 
					<div class="checkout__input-box form-group custom-field " data-sort="{{ custom_field['sort_order'] }}">
						<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }}">{{ custom_field['name'] }}</span>
						<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ account_custom_field[custom_field['custom_field_id']] is defined ? account_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" data-date-format="HH:mm" placeholder="{{ custom_field['name'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="time  {{ error_custom_field[custom_field['custom_field_id']] is defined ? 'error' : ''}}">
						{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
						<div class="checkout__input-box-error">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
						{% endif %} 
					</div>					
					{% endif %} 
					{% if (custom_field['type'] == 'datetime') %} 
					<div class="checkout__input-box form-group custom-field " data-sort="{{ custom_field['sort_order'] }}">
						<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }}">{{ custom_field['name'] }}</span>
						<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ account_custom_field[custom_field['custom_field_id']] is defined ? account_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" data-date-format="YYYY-MM-DD HH:mm" placeholder="{{ custom_field['name'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="datetime  {{ error_custom_field[custom_field['custom_field_id']] is defined ? 'error' : ''}}">
						{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
						<div class="checkout__input-box-error">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
						{% endif %} 
					</div>					
					{% endif %} 
					{% endif %} 
					{% endfor %}
					
			 {% if text_agree %}
				<div class="personal__action">
                      <label class="ui-check">
                        <input class="ui-check__input" value="1" type="checkbox" name="agree" {{ agree ? 'checked="checked"' : ''}}>
						<span class="ui-check__checkbox">
                          <svg class="icon-check">
                            <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-check"></use>
                          </svg></span>{{ text_agree }}
                      </label>
				</div>
			{% endif %}
				<div class="personal__action">
					<button type="submit" class="btn btn--blue">{{ button_continue }}</button>
				</div>
				
			</div>
			</div>
		</div>
		{{ column_right ? '<div class="col-sm-3">' ~ column_right ~ '</div>' : ''}}
	</div>
	{{ content_bottom }} 
	</div>
</main>	
{{ footer }}
<script>
$('input[name=\'payment\']').on('change', function() {
    $('.payment').hide();

    $('#payment-' + this.value).show();
});

$('input[name=\'payment\']:checked').trigger('change');

// Sort the custom fields
$('.form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('.form-group').length) {
		$('.form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('.form-group').length) {
		$('.form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('.form-group').length) {
		$('.form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('.form-group').length) {
		$('.form-group:first').before(this);
	}
});

$('button[id^=\'button-custom-field\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).attr('disabled', 'disabled');
				},
				complete: function() {
					$(node).removeAttr('disabled');
				},
				success: function(json) {
					$(node).parent().find('.checkout__input-box-error').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="checkout__input-box-error">' + json['error'] + '</div>');
					}

					if (json['success']) {						
						$('.alerts').append($('<div class="alert alert--green"><span class="alert__text"> ' + json['success'] + ' </span><a href="#" class="alert__close">x</a></div>').hide().fadeIn(500));
						alertClose();
						
						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
</script>
</body></html>