{{ header }} {% set col = column_left ? 9 : 12 %} {% set col = column_right ? col - 3 : col %} 
<main class="content">
	<div class="container">
	{{ content_top }} 
		<div class="breadcrumbs breadcrumbs--sm-pad">
			<ul class="breadcrumb__list">
			{% for i,breadcrumb in breadcrumbs %} 
			{% if (i == 0) %} 
				<li class="breadcrumb__list-item"><a href="{{ breadcrumb['href'] }}"><span>{{ breadcrumb['text'] }}</span></a></li>
			{% elseif (i + 1 < breadcrumbs|length) %} 
				<li class="breadcrumb__list-item"><svg class="icon-chevron-right"><use xlink:href="#chevron-small-left"></use></svg><a href="{{ breadcrumb['href'] }}"><span>{{ breadcrumb['text'] }}</span></a></li>		
			{% else %} 
				<li class="breadcrumb__list-item"><svg class="icon-chevron-right"><use xlink:href="#chevron-small-left"></use></svg><span>{{ breadcrumb['text'] }}</span></li>		
			{% endif %} 
			{% endfor %} 			
			</ul>
		</div>
    <h1 class="content__title">{{ heading_title }}</h1>
	<div class="row">
		{{ column_left ? '<div class="col-sm-3">' ~ column_left ~ '</div>' : ''}}
		<div class="col-sm-{{ col }}">
			<div id="sidebar-mob-btn"></div>
			<form action="{{ action }}" method="post" enctype="multipart/form-data">
			<div class="form-box">
				<div class="checkout">
					<h3 class="checkout__h3">{{ text_password }}</h3>
					<div class="checkout__input-row">			
						<div class="checkout__input-box form-group">
							<span class="checkout__input-box-title required">{{ entry_password }}</span>
							<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-firstname" class="{{ error_password ? 'error' : ''}}">
							{% if (error_password) %} 
							<div class="checkout__input-box-error">{{ error_password }}</div>
							{% endif %} 
						</div>			
						<div class="checkout__input-box form-group">
							<span class="checkout__input-box-title required">{{ entry_confirm }}</span>
							<input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-firstname" class="{{ error_password ? 'error' : ''}}">
							{% if (error_confirm) %} 
							<div class="checkout__input-box-error">{{ error_confirm }}</div>
							{% endif %} 
						</div>	
					</div>	
					<div class="checkout__button-box">
						<a href="{{ back }}" class="btn btn--empty">{{ button_back }}</a>
						<button type="submit" class="btn btn--transparent">{{ button_continue }}</button>
					</div>
				</div>			
			</div>			
			</form>	
		</div>
		{{ column_right ? '<div class="col-sm-3">' ~ column_right ~ '</div>' : ''}}
	</div>	
	{{ content_bottom }} 
	</div>
</main>	
{{ footer }}</body></html>