{{ header }} {% set col = column_left ? 9 : 12 %} {% set col = column_right ? col - 3 : col %} 
<main class="content">
	<div class="container">
	{{ content_top }} 
		<div class="breadcrumbs breadcrumbs--sm-pad">
			<ul class="breadcrumb__list">
			{% for i,breadcrumb in breadcrumbs %} 
			{% if (i == 0) %} 
				<li class="breadcrumb__list-item"><a href="{{ breadcrumb['href'] }}"><span>{{ breadcrumb['text'] }}</span></a></li>
			{% elseif (i + 1 < breadcrumbs|length) %} 
				<li class="breadcrumb__list-item"><svg class="icon-chevron-right"><use xlink:href="#chevron-small-left"></use></svg><a href="{{ breadcrumb['href'] }}"><span>{{ breadcrumb['text'] }}</span></a></li>		
			{% else %} 
				<li class="breadcrumb__list-item"><svg class="icon-chevron-right"><use xlink:href="#chevron-small-left"></use></svg><span>{{ breadcrumb['text'] }}</span></li>		
			{% endif %} 
			{% endfor %} 			
			</ul>
		</div>
    <h1 class="content__title">{{ heading_title }}</h1>
	<div class="row">
		{{ column_left ? '<div class="col-sm-3">' ~ column_left ~ '</div>' : ''}}
		<div class="col-sm-{{ col }}">
			<div id="sidebar-mob-btn"></div>
			
			<p>{{ text_total }} <b>{{ total }}</b>.</p>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr class="table__row">
							<td class="table__col">{{ column_date_added }}</td>
							<td class="table__col">{{ column_description }}</td>
							<td class="table__col table__col--right">{{ column_points }}</td>
						</tr>
					</thead>
					<tbody>
						{% if (rewards) %} 
						{% for reward in rewards	 %} 
						<tr class="table__row table__row--hover">
							<td class="table__col">{{ reward['date_added'] }}</td>
							<td class="table__col">{% if (reward['order_id']) %} 
								<a href="{{ reward['href'] }}">{{ reward['description'] }}</a>
								{% else %} 
								{{ reward['description'] }} 
								{% endif %}</td>
							<td class="table__col table__col--right">{{ reward['points'] }}</td>
						</tr>
						{% endfor %} 
						{% else %} 
						<tr class="table__row">
							<td class="text-center" colspan="3">{{ text_empty }}</td>
						</tr>
						{% endif %} 
					</tbody>
				</table>
			</div>
				<div class="checkout__button-box">
					<a href="{{ continue }}" class="btn btn--transparent">{{ button_continue }}<svg class="icon-arrow-long-right"><use xlink:href="#arrow-long-right"></use></svg></a>
				</div>			
		</div>
		{{ column_right ? '<div class="col-sm-3">' ~ column_right ~ '</div>' : ''}}
	</div>	
	{{ content_bottom }} 
	</div>
</main>	
{{ footer }}</body></html>