						<span class="account__title"><svg class="icon-heart"><use xlink:href="#heart"></use></svg>{{ text_lightshop_wish_head }} 
							{{ '('~count~')' }} 
						</span>
						{% if (islogged) %} 
							{% if (productswish) %} 
								
								<ul class="account__list">
								  {% if (islogged) %} 
									   {% for key,product in productswish %} 
										<li class="account__list-item">
											<div class="account__list-img">
												<a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt=""></a>
											</div>
											<span class="link"><a href="{{ product['href'] }}" class="link--brown">{{ product['name'] }}</a></span>
										</li>
									  {% endfor %}		   
								   {% endif %} 
								</ul>
								{{ text_wish_href }} 
							{% else %} 
								<span class="account__empty-text">
									<span>{{ text_empty_wish }}</span>
								</span>	
							{% endif %} 
						{% else %} 
						<span class="account__empty-text">
							<span>{{ text_islogged }}</span>
						</span>
						{% endif %} 
