	{% if (blogs is not empty) %}	

	<div class="catalogue__news">

	<span class="catalogue__news-title">
		{{ heading_title }} 
	</span>

		<ul class="catalogue__news-list">
        {% for blog in blogs %} 
            <li class="catalogue__news-list-item">
				<div class="catalogue__news-img">
					<a href="{{ blog['href'] }}"><img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src' : 'src' }}="{{ blog['image'] }}" alt="{{ blog['title'] }}"></a>
				</div>
				<div class="catalogue__news-text catalogue__news-text--img">
					<span class="catalogue__news-span">
						{{ blog['date_added'] }} 
					</span>
					<span class="catalogue__news-link">
						<a href="{{ blog['href'] }}" class="catalogue__news-link-inner">
							{{ blog['title'] }} 
						</a>
					</span>					
				</div>
			</li>
        {% endfor %} 
		</ul>

	</div>

	{% endif %}