		<!-- news -->
		
		<div class="news-min">
			<div class="container">
				<div class="section-title">
					<span class="h2">{{ heading_title }}</span><a href="{{ news_href }}">{{ text_all_news }}</a>
				</div>
				<ul class="news__list">
				{% for news in newss %} 
					<li class="news__list-item">
						<span class="news__date">
						{{ news['date_added'] }} 
						</span>
						<span class="news__title">
							<a href="{{ news['href'] }}" class="news__link news__title-inner">
								{{ news['title'] }} 
							</a>
						</span>
					</li>
				{% endfor %} 
				</ul>
			</div>
		</div>

