		<!-- brands -->
		
		<div class="brands">
			<div class="container">
				<span class="h2">{{ title }}</span>
				<div class="brands-slider js-slider-brands">
		    {% for banner1 in banners %} 
				{% for banner in banner1 %} 
					<div class="brands-slider__item">
						{% if (banner['link']) %} 
						<a href="{{ banner['link'] }}"><img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy' : 'src' }}="{{ banner['image'] }}" alt="{{ banner['title'] }}"></a>
						{% else %} 
						<img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy' : 'src' }}="{{ banner['image'] }}" alt="{{ banner['title'] }}">
						{% endif %} 
					</div>
				{% endfor %} 
  		    {% endfor %} 
				</div>
			</div>
		</div>