{% if (redirect is not defined) %} 
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr class="table__row">
				<td class="table__col">{{ column_name }}</td>
				<td class="table__col">{{ column_model }}</td>
				<td class="table__col table__col--right">{{ column_quantity }}</td>
				<td class="table__col table__col--right">{{ column_price }}</td>
				<td class="table__col table__col--right">{{ column_total }}</td>
			</tr>
	</thead>
		<tbody>
			{% for product in products %} 
			<tr class="table__row">
				<td class="table__col"><a href="{{ product['href'] }}">{{ product['name'] }}</a>
					{% for option in product['option'] %} 
					<br />
					&nbsp;<small> - {{ option['name'] }}: {{ option['value'] }}</small>
					{% endfor %} 
					{% if (product['recurring']) %} 
					<br />
					<span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product['recurring'] }}</small>
					{% endif %}</td>
				<td class="table__col">{{ product['model'] }}</td>
				<td class="table__col table__col--right">{{ product['quantity'] }}</td>
				<td class="table__col table__col--right">{{ product['price'] }}</td>
				<td class="table__col table__col--right">{{ product['total'] }}</td>
			</tr>
			{% endfor %} 
			{% for voucher in vouchers %} 
			<tr class="table__row">
				<td class="table__col">{{ voucher['description'] }}</td>
				<td class="table__col"></td>
				<td class="table__col table__col--right">1</td>
				<td class="table__col table__col--right">{{ voucher['amount'] }}</td>
				<td class="table__col table__col--right">{{ voucher['amount'] }}</td>
			</tr>
			{% endfor %} 
		</tbody>
		<tfoot>
			{% for total in totals %} 
			<tr class="table__row">
				<td colspan="4" class="table__col table__col--right"><strong>{{ total['title'] }}:</strong></td>
				<td class="table__col table__col--right">{{ total['text'] }}</td>
			</tr>
			{% endfor %} 
		</tfoot>
	</table>
</div>
{{ payment }} 
{% else %} 
<script type="text/javascript"><!--
location = '{{ redirect }}';
//--></script>
{% endif %} 
