				<div class="account-form">
					<div class="account-form__col account-form__col--register">
						<span class="account__title">{{ text_new_customer }}</span>
						<div class="account-form__checkout js-custom-scroll">
							<p>{{ text_checkout }}</p>
							<p> 
								<input type="radio" name="account" id="account-register" value="register" {{ account == 'register' ? 'checked="checked"' : ''}} />
								<label for="account-register">{{ text_register }}</label>
								{% if (checkout_guest) %} 
								<br>
								<input type="radio" name="account" id="account-guest" value="guest" {{ account == 'guest' ? 'checked="checked"' : ''}} />
								<label for="account-guest">{{ text_guest }}</label>
								{% endif %} 
							</p>
							<p>{{ text_register_account }}</p>
						</div>
			
					<div class="checkout__button-box">
						<button type="button" class="btn btn--transparent" id="button-account">{{ button_continue }}<svg class="icon-arrow-long-right"><use xlink:href="#arrow-long-right"></use></svg></button>
					</div>	
					</div>
					<div class="account-form__col">
						<span class="account__title">{{ text_returning_customer }}</span>
							<div class="account__input-box">
								<input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-email"  required>
							</div>
							<div class="account__input-box account__input-box--pass">
								<input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password" required>
								<a href="{{ forgotten }}">{{ text_forgotten }}</a>
							</div>
							<div class="account__check-box">
								<input type="checkbox" id="checkbox1">
								<label for="checkbox1">{{ text_account_check }}</label>
							</div>
							<button type="button" value="{{ button_login }}" id="button-login" class="btn">{{ button_login }}</button>	
					</div>
				</div>