<form class="form-horizontal">
	{% if (addresses) %} 
	<div class="checkout__radio">
			<div class="checkout__radio-box-row">
				<div class="checkout__radio-item">
					<input name="payment_address" id="payment_address-existing" type="radio" value="existing" checked="checked">
					<label for="payment_address-existing">{{ text_address_existing }}</label>
				</div>	
			</div>	
	</div>	
	<div id="payment-existing">
		<div class="checkout__input-row">
			<div class="checkout__input-box">
				<div class="select">
					<select name="address_id" class="select--squer select">
						{% for address in addresses %} 
						{% if (address['address_id'] == address_id) %} 
						<option value="{{ address['address_id'] }}" selected="selected">{{ address['firstname'] }} {{ address['lastname'] }}, {{ address['address_1'] }}, {{ address['city'] }}, {{ address['zone'] }}, {{ address['country'] }}</option>
						{% else %} 
						<option value="{{ address['address_id'] }}">{{ address['firstname'] }} {{ address['lastname'] }}, {{ address['address_1'] }}, {{ address['city'] }}, {{ address['zone'] }}, {{ address['country'] }}</option>
						{% endif %} 
						{% endfor %} 
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="checkout__radio">
			<div class="checkout__radio-box-row">
				<div class="checkout__radio-item">
					<input name="payment_address" id="payment_address-new" type="radio" value="new">
					<label for="payment_address-new">{{ text_address_new }}</label>
				</div>	
			</div>	
	</div>
	{% endif %} 

<div id="payment-new" style="display: {{ addresses ? 'none' : 'block' }};">
	<div class="checkout__input-row">
	{% for fieldName in allCustomFields %} 
			{% set fieldNameT = "entry_" ~ fieldName  ~ '_show' %}
			{% set fieldNameR = "entry_" ~ fieldName  ~ '_required' %}
			{% set fieldNameN = "entry_" ~ fieldName  %}
			{% set fieldNameE = "error_" ~ fieldName  %}
			<div {{ not attribute(_context, fieldNameT)  ? 'style="display:none"' : '' }} class="checkout__input-box form-group">
				<span  class="checkout__input-box-title {{ attribute(_context, fieldNameR)  ? 'required' : ''  }}">{{ attribute(_context, fieldNameN) }}</span>
			{% if (fieldName == 'country') %} 
				<div class="select">
					<select name="country_id" id="input-payment-country" class="select--squer select select-checkout" data-placeholder="{{ entry_country }}">
						<option value="">{{ text_select }}</option>
						{% for country in countries %} 
						{% if (country['country_id'] == country_id) %} 
						<option value="{{ country['country_id'] }}" selected="selected">{{ country['name'] }}</option>
						{% else %} 
						<option value="{{ country['country_id'] }}">{{ country['name'] }}</option>
						{% endif %} 
						{% endfor %} 
					</select>
				</div>
			{% elseif (fieldName == 'zone') %}	
					<div class="select">
						<select name="zone_id" id="input-payment-zone" class="select--squer select select-checkout" data-placeholder="{{ entry_zone }}"></select>
					</div>	
			{% else %}				
					<input type="text" name="{{ fieldName }}" value="{{ attribute(_context, fieldNameV) }}" placeholder="{{ attribute(_context, fieldNameN) }}" id="input-payment-{{ (fieldName)|replace({'_': '-'}) }}">
					{% if attribute(_context, fieldNameE) %} 
						<div class="checkout__input-box-error">{{ attribute(_context, fieldNameE) }}</div>
					{% endif %} 
			{% endif %} 
		</div>	
	{% endfor %} 

		{% for custom_field in custom_fields %} 
		{% if (custom_field['location'] == 'address') %} 
		{% if (custom_field['type'] == 'select') %} 
			<div id="payment-custom-field{{ custom_field['custom_field_id'] }}" class="checkout__input-box form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
				<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }}">{{ custom_field['name'] }}</span>
				<div class="select">
				<select name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" id="input-payment-custom-field{{ custom_field['custom_field_id'] }}" class="select--squer select select-checkout" data-placeholder="{{ text_select }}">
					<option value="">{{ text_select }}</option>
					{% for custom_field_value in custom_field['custom_field_value'] %} 
					<option value="{{ custom_field_value['custom_field_value_id'] }}">{{ custom_field_value['name'] }}</option>
					{% endfor %}		
				</select>
				</div>
			</div>	
		{% endif %} 
		{% if (custom_field['type'] == 'radio') %} 
			<div id="payment-custom-field{{ custom_field['custom_field_id'] }}" class="checkout__radio-box form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
				<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }} {{ custom_field['required'] ? 'required' : '' }}">{{ custom_field['name'] }}</span>
				<div id="input-payment-custom-field{{ custom_field['custom_field_id'] }}">
				{% for custom_field_value in custom_field['custom_field_value'] %} 
					<div class="checkout__radio-item">
						<input name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" id="custom_field[{{ custom_field['custom_field_id'] }}]-{{ custom_field_value['custom_field_value_id'] }}" type="radio" value="{{ custom_field_value['custom_field_value_id'] }}">
						<label for="custom_field[{{ custom_field['custom_field_id'] }}]-{{ custom_field_value['custom_field_value_id'] }}">{{ custom_field_value['name'] }}</label>
					</div>
				{% endfor %}	
				</div>
			</div>	
		{% endif %} 
		{% if (custom_field['type'] == 'checkbox') %} 
			<div id="payment-custom-field{{ custom_field['custom_field_id'] }}" class="checkout__checkbox-box form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
				<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }} {{ custom_field['required'] ? 'required' : '' }}">{{ custom_field['name'] }}</span>
				<div id="input-payment-custom-field{{ custom_field['custom_field_id'] }}">
				{% for custom_field_value in custom_field['custom_field_value'] %} 
					<div class="checkout__checkbox-item">
						<input name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" id="custom_field[{{ custom_field['custom_field_id'] }}]-{{ custom_field_value['custom_field_value_id'] }}" type="checkbox" value="{{ custom_field_value['custom_field_value_id'] }}">
						<label for="custom_field[{{ custom_field['custom_field_id'] }}]-{{ custom_field_value['custom_field_value_id'] }}">{{ custom_field_value['name'] }}</label>
					</div>
				{% endfor %} 
				</div>
			</div>	
		{% endif %} 
		{% if (custom_field['type'] == 'text') %} 
			<div id="payment-custom-field{{ custom_field['custom_field_id'] }}" class="checkout__input-box form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
				<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }}">{{ custom_field['name'] }}</span>
				<input type="text" name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" placeholder="{{ custom_field['name'] }}" id="input-payment-custom-field{{ custom_field['custom_field_id'] }}" >
			</div>	
		{% endif %} 
		{% if (custom_field['type'] == 'textarea') %} 
		<div id="payment-custom-field{{ custom_field['custom_field_id'] }}" class="checkout__textarea-box form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
			<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }}">{{ custom_field['name'] }}</span>
			<textarea name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" placeholder="{{ custom_field['name'] }}" id="input-payment-custom-field{{ custom_field['custom_field_id'] }}" >{{ custom_field['value'] }}</textarea>
		</div>	
		{% endif %} 
		{% if (custom_field['type'] == 'file') %} 
		<div id="payment-custom-field{{ custom_field['custom_field_id'] }}" class="checkout__file-box form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
			<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }}">{{ custom_field['name'] }}</span>
			
			<button type="button" id="button-payment-custom-field{{ custom_field['custom_field_id'] }}" class="btn">{{ button_upload }}</button>
			<input type="hidden" name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" value="" id="input-payment-custom-field{{ custom_field['custom_field_id'] }}">
		</div>	
		{% endif %} 
		{% if (custom_field['type'] == 'date') %} 
		<div id="payment-custom-field{{ custom_field['custom_field_id'] }}" class="checkout__input-box form-group custom-field " data-sort="{{ custom_field['sort_order'] }}">
			<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }}">{{ custom_field['name'] }}</span>
			<input type="text" name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" data-date-format="YYYY-MM-DD" placeholder="{{ custom_field['name'] }}" id="input-payment-custom-field{{ custom_field['custom_field_id'] }}" class="date">
		</div>	
		{% endif %} 
		{% if (custom_field['type'] == 'time') %} 
		<div id="payment-custom-field{{ custom_field['custom_field_id'] }}" class="checkout__input-box form-group custom-field " data-sort="{{ custom_field['sort_order'] }}">
			<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }}">{{ custom_field['name'] }}</span>
			<input type="text" name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" data-date-format="HH:mm" placeholder="{{ custom_field['name'] }}" id="input-payment-custom-field{{ custom_field['custom_field_id'] }}" class="time">
		</div>	
		{% endif %} 
		{% if (custom_field['type'] == 'datetime') %} 
		<div id="payment-custom-field{{ custom_field['custom_field_id'] }}" class="checkout__input-box form-group custom-field " data-sort="{{ custom_field['sort_order'] }}">
			<span class="checkout__input-box-title {{ custom_field['required'] ? ' required' : '' }}">{{ custom_field['name'] }}</span>
			<input type="text" name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" data-date-format="YYYY-MM-DD HH:mm" placeholder="{{ custom_field['name'] }}" id="input-payment-custom-field{{ custom_field['custom_field_id'] }}" class="datetime">
		</div>	
		{% endif %} 
		{% endif %} 
		{% endfor %}	
	</div>
</div>
	<div class="checkout__button-box">
		<button type="button" class="btn btn--transparent" id="button-payment-address">{{ button_continue }}<svg class="icon-arrow-long-right"><use xlink:href="#arrow-long-right"></use></svg></button>
	</div>	
</form>
<script>
ocDateTimepicker();
//initCustomSelect($('#collapse-payment-address select'));

$('input[name=\'payment_address\']').on('change', function() {
	if (this.value == 'new') {
		$('#payment-existing').slideUp(200);
		$('#payment-new').slideDown(200);
		//$('#collapse-payment-address select').multiselect('refresh');
	} else {
		$('#payment-existing').slideDown(200);
		$('#payment-new').slideUp(200);
	}
});
// Sort the custom fields
$('#collapse-payment-address .form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#collapse-payment-address .form-group').length-2) {
		$('#collapse-payment-address .form-group').eq(parseInt($(this).attr('data-sort'))+2).before(this);
	}

	if ($(this).attr('data-sort') > $('#collapse-payment-address .form-group').length-2) {
		$('#collapse-payment-address .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#collapse-payment-address .form-group').length-2) {
		$('#collapse-payment-address .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#collapse-payment-address .form-group').length-2) {
		$('#collapse-payment-address .form-group:first').before(this);
	}
});

$('#collapse-payment-address button[id^=\'button-payment-custom-field\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
			clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).attr('disabled', 'disabled');
				},
				complete: function() {
					$(node).removeAttr('disabled');
				},
				success: function(json) {
					$(node).parent().find('.checkout__input-box-error').remove();

					if (json['error']) {
						$(node).parent().find('input[name^=\'custom_field\']').after('<div class="checkout__input-box-error">' + json['error'] + '</div>');
					}

					if (json['success']) {						
						$('.alerts').append($('<div class="alert alert--green"><span class="alert__text"> ' + json['success'] + ' </span><a href="#" class="alert__close">x</a></div>').hide().fadeIn(500));
						alertClose();
						
						$(node).parent().find('input[name^=\'custom_field\']').val(json['code']);
					}
				},
				
				
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});

$('#collapse-payment-address select[name=\'country_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=checkout/checkout/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('#collapse-payment-address select[name=\'zone_id\']').prop('disabled', true);
		},
		complete: function() {
			$('#collapse-payment-address select[name=\'zone_id\']').prop('disabled', false);
		},
		success: function(json) {
			if (json['postcode_required'] == '1') {
				$('#collapse-payment-address input[name=\'postcode\']').parent().parent().addClass('required');
			} else {
				$('#collapse-payment-address input[name=\'postcode\']').parent().parent().removeClass('required');
			}

			html = '<option value="">{{ text_select }}</option>';

			if (json['zone'] && json['zone'] != '') {
				for (i = 0; i < json['zone'].length; i++) {
					html += '<option value="' + json['zone'][i]['zone_id'] + '"';

					if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
						html += ' selected="selected"';
					}

					html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
				html += '<option value="0" selected="selected">{{ text_none }}</option>';
			}

			$('#collapse-payment-address select[name=\'zone_id\']').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('#collapse-payment-address select[name=\'country_id\']').trigger('change');
</script>
