		{% if route|slice(0, 9) == 'checkout/' %}
		<!-- captcha for checkout -->
		<div class="checkout__input-row">
			<div class="checkout__captcha-box">
				<span class="checkout__input-box-title required">{{ text_captcha }}</span>
					<div class="basic-captcha">
						<div class="basic-captcha__input">
							<input type="text" name="captcha" class="input-payment-captcha" placeholder="{{ entry_captcha }}">
						</div>
						<div class="basic-captcha__img">
							<img src="index.php?route=extension/captcha/basic/captcha" alt="" />
						</div>
					</div>
					{% if (error_captcha) %} 
					<div class="checkout__input-box-error">{{ error_captcha }}</div>
					{% endif %} 
			</div>	
		</div>
		{% elseif (route == 'information/contact' or route == 'product/product' ) %} 
		<!-- captcha for popup -->
		<div class="popup-simple__inner-captcha">
			<div class="basic-captcha">
				<div class="basic-captcha__input">
					<input type="text" name="captcha" class="input-captcha" placeholder="{{ entry_captcha }}">
				</div>
				<div class="basic-captcha__img">
					<img src="index.php?route=extension/captcha/basic/captcha" alt="" />
				</div>
			</div>
			{% if (error_captcha) %} 
			<div class="popup-simple__inner-error-text">{{ error_captcha }}</div>
			{% endif %} 
		</div>
		{% else %} 
		<!-- captcha for gray input -->
		<div class="checkout__input-row">
			<div class="checkout__captcha-box">
				<span class="checkout__input-box-title required">{{ text_captcha }}</span>
					<div class="basic-captcha">
						<div class="basic-captcha__input">
							<input type="text" name="captcha" class="input-captcha" placeholder="{{ entry_captcha }}">
						</div>
						<div class="basic-captcha__img">
							<img src="index.php?route=extension/captcha/basic/captcha" alt="" />
						</div>
					</div>
					{% if (error_captcha) %} 
					<div class="checkout__input-box-error">{{ error_captcha }}</div>
					{% endif %} 
			</div>	
		</div>
		{% endif %}